<div class="shirt-demo">
  <h1>Mẫu áo Fc.Hunters năm 2022</h1>
  <div class="grid">
    <div class="row">
      <div class="col l-6 m-12 c-12">
        <h2>Áo cầu thủ</h2>
        <img
          nz-image
          class="shirt-width"
          nzSrc="https://i.postimg.cc/Jnn34jjg/kit1.jpg"
          alt=""
        />
      </div>
      <div class="col l-6 m-12 c-12">
        <h2>Áo thủ môn</h2>
        <img
          nz-image
          class="shirt-width"
          nzSrc="https://i.postimg.cc/R0cfSX3X/kit2.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
