<fieldset>
  <legend>Danh sách cầu thủ</legend>
  <div>
    <div class="player-list">
      <div class="player-detail">
          <div nz-row nzGutter="8">
            <div nz-col nzSpan="6" class="player__background">
              <img class="player__img" src="https://i.postimg.cc/kG4cCJbV/leduchuy.png" alt="Lê Đức Huy">
              <div class="player__info">
                <div class="player__number">7</div>
                <!-- <div class="vertical-line"></div> -->
                <div class="player__name">Le Huy</div>
              </div>
            </div>
            <img nz-col nzSpan="8" src="assets/img/player-background.jpg" alt="background">
            <img nz-col nzSpan="8" src="assets/img/player-background.jpg" alt="background">
            <div >
            </div>
            <div>
            </div>
          </div>
      </div>
    </div>
    <div nz-row nzGutter="32" class="test-list">
      <div nz-col nzSpan="8" class="test-detail-red">àd</div>
      <div nz-col nzSpan="8" class="test-detail-blue">sdf</div>
      <div nz-col nzSpan="8" class="test-detail-red">ầds</div>
    </div>
  </div>
  </fieldset>
