<nz-table #dynamicTable [nzData]="shirts" [nzLoading]="isLoading">
  <thead>
    <tr>
      <th>STT</th>
      <th>Họ Tên</th>
      <th>Số áo</th>
      <th>Size áo</th>
      <th>Tên in trên áo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of dynamicTable.data; let i = index">
      <!-- <td>{{ i + 1 }}</td> -->
      <td>{{ data.ud }}</td>
      <td>{{ data.userName }}</td>
      <td>{{ data.id }}</td>
      <td>{{ data.shirtSize }}</td>
      <td>{{ data.shirtName }}</td>
    </tr>
  </tbody>
</nz-table>

<ng-template #footer>
  <div class="pb-2 pl-3" nz-row>
    <div nz-col nzSpan="12"></div>
    <div nz-col nzSpan="11">
    </div>
  </div>
</ng-template>
