<nz-table #basicTable [nzData]="shirts">
  <thead>
    <tr>
      <th>STT</th>
      <th>Họ Tên</th>
      <th>Số áo</th>
      <th>Size áo</th>
      <th>Tên in trên áo</th>
      <th>Sửa/Xóa</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ data.userName }}</td>
      <td>{{ data.id }}</td>
      <td>{{ data.shirtSize }}</td>
      <td>{{ data.shirtName }}</td>
      <td>
        <a href="https://www.facebook.com/messages/t/100007335496307" target="_blank">Liên Hệ <i nz-icon nzType="message" nzTheme="outline"></i></a>
      </td>
    </tr>
  </tbody>
</nz-table>
