.match__detail {
  background-color: #caf5b5;
  padding: 12px;
  border: 1px solid #8ae95b;
  border-radius: 10px;
}

.quick-vote {
  display: flex;
  justify-content: start;
}

.vote__btn {
  width: 90px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 12px;
}

.vote__btn i {
  margin: 0 3px;
}

.vote__btn--agree {
  background-color: #caf5b5;
  border: 1px solid #8ae95b;
  /* color: #73a839; */
}

.vote__btn--reject {
  background-color: rgb(238, 177, 167);
  border: 1px solid #f50000;

}

td img {
  border-radius: 50%;
  border-style: solid;
  border-color: #caf5b5;
}
