<app-drawer-form-base
  [mode]="mode"
  [isClosable]="true"
  [isEdit]="isEdit"
  [isVisible]="isVisibleDrawer"
  [isCustomFooter]="true"
  (onCloseDrawer)="closeDrawer()"
  [title]="titleDrawer"
  [width]="drawerWidth"
>
  <div class="drawer__container">
    <nz-collapse>
      <nz-collapse-panel nzHeader="Thông tin trận đấu" nzActive="true"
        ><div class="match__detail">
          <p><strong>Sân:</strong> {{ thisMatch?.stadium }}</p>
          <p>
            <strong>Thời gian:</strong>
            {{
              (thisMatch?.day | date : "HH:mm") +
                " " +
                getTimeSection(thisMatch?.day) +
                " " +
                getTimeWeekDay(thisMatch?.day) +
                " (" +
                (thisMatch?.day | date : "dd/MM/yyyy") +
                ")"
            }}
          </p>
          <p><strong>Trận đấu:</strong> {{ thisMatch?.name }}</p>
          <p><strong>Ghi chú:</strong> {{ thisMatch?.note }}</p>
        </div></nz-collapse-panel
      >
      <nz-collapse-panel nzHeader="Bình chọn">
        <div class="quick-vote">
          <p
            *ngIf="
              thisMatch?.attendMemberObj.includes(currentUser.id) ||
              thisMatch?.denyMemberObj.includes(currentUser.id)
            "
          >
            Bạn đã bình chọn
          </p>
          <button
            class="vote__btn vote__btn--agree"
            type="button"
            *ngIf="
              thisMatch?.attendMemberObj.includes(currentUser.id) ||
              (!thisMatch?.attendMemberObj.includes(currentUser.id) &&
                !thisMatch?.denyMemberObj.includes(currentUser.id))
            "
            (click)="updateMatchAttendMember(thisMatch)"
          >
            <i class="fa-solid fa-futbol"></i>Đá
          </button>
          <button
            class="vote__btn vote__btn--reject"
            type="button"
            *ngIf="
              thisMatch?.denyMemberObj.includes(currentUser.id) ||
              (!thisMatch?.attendMemberObj.includes(currentUser.id) &&
                !thisMatch?.denyMemberObj.includes(currentUser.id))
            "
            (click)="updateMatchDenyMember(thisMatch)"
          >
            <i class="fa-solid fa-xmark"></i>Không đá
          </button>
          <a
            href="https://www.facebook.com/messages/t/100007335496307"
            target="_blank"
            nz-button
            nzType="link"
            *ngIf="
              thisMatch?.attendMemberObj.includes(currentUser.id) ||
              thisMatch?.denyMemberObj.includes(currentUser.id)
            "
            >Thay đổi bình chọn</a
          >
        </div>
      </nz-collapse-panel>
      <nz-collapse-panel nzHeader="Danh sách thành viên" nzActive="true">
        <div nz-row class="match__members-list">
          <div nz-col nzSpan="12" class="match__team-white">
            <nz-table
              #basicTable
              [nzShowPagination]="false"
              [nzData]="listAttendMembers"
              [nzPageSize]="20"
            >
              <thead>
                <tr>
                  <th colspan="2">
                    Có đá ({{ listAttendMembers.length }} cầu thủ)
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of basicTable.data; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>
                    <img [src]="data.avatar" height="30" width="30" />{{
                      data.fullName
                    }}
                  </td>
                  <!-- <td>
                  <a>Action 一 {{ data.name }}</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a>Delete</a>
                </td> -->
                </tr>
              </tbody>
            </nz-table>
          </div>

          <div nz-col nzSpan="12" class="match__team-white">
            <nz-table
              #basicDenyTable
              [nzShowPagination]="false"
              [nzData]="listDenyMembers"
              [nzPageSize]="20"
            >
              <thead>
                <tr>
                  <th colspan="2">
                    Không đá ({{ listDenyMembers.length }} cầu thủ)
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of basicDenyTable.data; let i = index">
                  <td>{{ i + 1 }}</td>

                  <td>
                    <img [src]="data.avatar" height="30" width="30" />{{
                      data.fullName
                    }}
                  </td>
                  <!-- <td>
                  <a>Action 一 {{ data.name }}</a>
                  <nz-divider nzType="vertical"></nz-divider>
                  <a>Delete</a>
                </td> -->
                </tr>
              </tbody>
            </nz-table>
          </div>

          <div class="match__team-black"></div>
        </div>
        </nz-collapse-panel>
    </nz-collapse>
    <!-- <h3>Danh sách thành viên</h3>
    <div nz-row class="match__members-list">
      <div nz-col nzSpan="12" class="match__team-white">
        <nz-table
          #basicTable
          [nzShowPagination]="false"
          [nzData]="listAttendMembers"
          [nzPageSize]="20"
        >
          <thead>
            <tr>
              <th colspan="2">
                Có đá ({{ listAttendMembers.length }} cầu thủ)
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data; let i = index">
              <td>{{ i + 1 }}</td>
              <td>
                <img [src]="data.avatar" height="30" width="30" />{{
                  data.fullName
                }}
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>

      <div nz-col nzSpan="12" class="match__team-white">
        <nz-table
          #basicDenyTable
          [nzShowPagination]="false"
          [nzData]="listDenyMembers"
          [nzPageSize]="20"
        >
          <thead>
            <tr>
              <th colspan="2">
                Không đá ({{ listDenyMembers.length }} cầu thủ)
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicDenyTable.data; let i = index">
              <td>{{ i + 1 }}</td>

              <td>
                <img [src]="data.avatar" height="30" width="30" />{{
                  data.fullName
                }}
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>

      <div class="match__team-black"></div>
    </div> -->
  </div>
</app-drawer-form-base>
