<h2>Form đăng ký làm áo</h2>
<form nz-form [formGroup]="addShirtForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" [nzSpan]="7" nzRequired>Họ Tên</nz-form-label>
    <nz-form-control [nzSm]="8" [nzXs]="24" [nzSpan]="8" nzErrorTip="Họ tên không được bỏ trống!">
      <input nz-input formControlName="userName" placeholder="Vd: Lê Đức Huy" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" [nzSpan]="7" nzRequired>Size áo</nz-form-label>
    <nz-form-control [nzSm]="8" [nzXs]="24"
      [nzSpan]="8"
      nzErrorTip="Size áo không được bỏ trống!"
      nzValidatingTip="test..."
    >
      <nz-select
        formControlName="shirtSize"
        name="select-size"
        nzPlaceHolder="Chọn kích thước áo"
      >
        <nz-option nzValue="S" nzLabel="S"></nz-option>
        <nz-option nzValue="M" nzLabel="M"></nz-option>
        <nz-option nzValue="L" nzLabel="L"></nz-option>
        <nz-option nzValue="XL" nzLabel="XL"></nz-option>
        <nz-option nzValue="XXL" nzLabel="XXL"></nz-option>
      </nz-select>
    </nz-form-control>
    <a class="checkShirtNum" (click)="onClickWatchSizeTable()"
      >Xem bảng size</a>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" [nzSpan]="7">Số áo</nz-form-label>
    <nz-form-control [nzSm]="8" [nzXs]="24" [nzSpan]="8">
      <input
        #inputElement
        nz-input
        formControlName="id"
        placeholder="Nếu để trống, bạn sẽ được chọn 1 số áo bất kỳ"
        [ngModel]="inputShirtNumber"
        (ngModelChange)="onChange($event)"
        (blur)="onBlur()"
      />
    </nz-form-control>
    <a class="checkShirtNum" (click)="checkExistedShirtNumber(inputShirtNumber); clickCheck()"
      >Kiểm tra</a
    >
    <nz-alert
      *ngIf="isShirtNumberExist"
      nzType="error"
      nzShowIcon
      nzMessage="Số áo đã tồn tại"
    ></nz-alert>

    <nz-alert
      class="mt-2"
      *ngIf="
        !isShirtNumberExist &&
        inputShirtNumber !== null &&
        clickedCheck === true
      "
      nzType="success"
      nzShowIcon
      nzMessage="Số áo rất đẹp và phù hợp với bạn"
    ></nz-alert>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" [nzSpan]="7">Tên in trên áo</nz-form-label>
    <nz-form-control [nzSm]="8" [nzXs]="24" [nzSpan]="8">
      <input
        nz-input
        formControlName="shirtName"
        placeholder="Nếu để trống, áo bạn sẽ không in tên gì"
      />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" [nzSpan]="7" nzRequired>Ngày đóng tiền áo</nz-form-label>
    <nz-form-control [nzSm]="8" [nzXs]="24" [nzSpan]="8">
      <nz-date-picker formControlName="payDate" [nzDisabledDate]="disabledDate" nzPlaceHolder="Chọn ngày" ></nz-date-picker>
    </nz-form-control>
    <a class="checkShirtNum" (click)="showModal()"
      >Thông tin chuyển khoản</a>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="isDisableSubmit">Gửi đăng ký</button>
    </nz-form-control>
  </nz-form-item>
</form>

<nz-modal [(nzVisible)]="isVisiblePayMethod" nzTitle="Thông tin chuyển khoản" (nzOnCancel)="handleCancel()">
  <div *nzModalContent>
    <div>
      <p>Số tiền: <b>170.000 VNĐ</b></p>
      <p>Nội dung chuyển khoản: vd: <b>Duc Huy chuyen tien ao</b></p>
    </div>
    <div nz-row>
      <div nz-col nzSpan="12">
        <h3>Tài khoản ngân hàng</h3>
        <p>Ngân hàng Vietinbank<br>STK: <b>104870242476</b><button nz-button nzType="default" nzShape="circle" (click)="copyMessage('104870242476')"><i nz-icon nzType="copy"></i></button><br>TÊN: LÊ ĐỨC HUY</p>
      </div>
      <div nz-col nzSpan="12">
        <h3>Ví điện tử</h3>
        <p>Viettel Money - Momo - Zalo Pay<br>SDT: <b>0385234531</b><button nz-button nzType="default" nzShape="circle" (click)="copyMessage('0385234531')"><i nz-icon nzType="copy"></i></button><br>TÊN: LÊ ĐỨC HUY</p>
      </div>

    </div>
  </div>
  <div *nzModalFooter>
    <button nz-button nzType="primary" (click)="handleCancel()">OK</button>
  </div>
</nz-modal>
